.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .item{
        width:200px;
        height: 80px;
        margin:16px 0;
        border-radius: 15px;
        background-color: aqua;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform .2s ease-out;
    }

    .drag{
        background-color: darkorange;
        transform:scale(.8,.8);
    }

    .update{
    
        transition:transform .2s;
        transform:translate(0,-80px);
    }

}